html,
body {
  height: 100%;
  background-color: #000;
  overflow: hidden;
}
html .g-candle,
body .g-candle {
  position: absolute;
  width: 400px;
  height: 400px;
}
html .g-candle .g-body,
body .g-candle .g-body {
  position: relative;
  width: 100px;
  height: 300px;
  margin: 280px auto;
  z-index: 1;
  background: linear-gradient(230deg, #ca9800, #573903, #000 70%);
}
html .g-candle .g-body:before,
body .g-candle .g-body:before {
  position: absolute;
  content: "";
  width: 100px;
  height: 40px;
  border-radius: 50%;
  top: -20px;
  background: radial-gradient(#a46800, #5c3104 45%, #905602 100%);
}
html .g-candle .g-body:after,
body .g-candle .g-body:after {
  position: absolute;
  content: "";
  width: 4px;
  height: 48px;
  background: #fff;
  left: 50%;
  top: -22px;
  transform: translate(-50%, -50%);
  border-radius: 50% 50% 0 0;
  background: linear-gradient(180deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.8) 60%, #fff);
  opacity: 0.7;
  filter: blur(1px);
}
html .g-candle .g-fire-box,
body .g-candle .g-fire-box {
  position: absolute;
  top: 97px;
  left: 50%;
  width: 80px;
  height: 200px;
  transform: translate(-50%, -50%);
  filter: blur(2px) contrast(20);
}
html .g-candle .g-fire-box .fire,
body .g-candle .g-fire-box .fire {
  position: absolute;
  top: 30px;
  left: 50%;
  border-radius: 45%;
  border: 120px solid #000;
  border-bottom: 120px solid transparent;
  transform: translate(-50%, 0) scaleX(0.45);
}
html .g-candle .g-fire-box .fire .g-ball,
body .g-candle .g-fire-box .fire .g-ball {
  position: absolute;
  top: 60px;
  transform: translate(0, 0);
  background: #fa8763;
  border-radius: 50%;
  z-index: -1;
  mix-blend-mode: screen;
}
html .g-candle .g-fire-box .g-ball:nth-child(1),
body .g-candle .g-fire-box .g-ball:nth-child(1) {
  width: 43px;
  height: 43px;
  left: -35px;
  animation: movetop 1s linear -0.12s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(2),
body .g-candle .g-fire-box .g-ball:nth-child(2) {
  width: 2px;
  height: 2px;
  left: -4px;
  animation: movetop 1s linear -1.902s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(3),
body .g-candle .g-fire-box .g-ball:nth-child(3) {
  width: 41px;
  height: 41px;
  left: 19px;
  animation: movetop 1s linear -2.395s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(4),
body .g-candle .g-fire-box .g-ball:nth-child(4) {
  width: 42px;
  height: 42px;
  left: 1px;
  animation: movetop 1s linear -1.171s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(5),
body .g-candle .g-fire-box .g-ball:nth-child(5) {
  width: 17px;
  height: 17px;
  left: -26px;
  animation: movetop 1s linear -0.581s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(6),
body .g-candle .g-fire-box .g-ball:nth-child(6) {
  width: 20px;
  height: 20px;
  left: -10px;
  animation: movetop 1s linear -2.933s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(7),
body .g-candle .g-fire-box .g-ball:nth-child(7) {
  width: 31px;
  height: 31px;
  left: -46px;
  animation: movetop 1s linear -2s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(8),
body .g-candle .g-fire-box .g-ball:nth-child(8) {
  width: 44px;
  height: 44px;
  left: 7px;
  animation: movetop 1s linear -0.002s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(9),
body .g-candle .g-fire-box .g-ball:nth-child(9) {
  width: 6px;
  height: 6px;
  left: -37px;
  animation: movetop 1s linear -1.703s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(10),
body .g-candle .g-fire-box .g-ball:nth-child(10) {
  width: 6px;
  height: 6px;
  left: -6px;
  animation: movetop 1s linear -0.593s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(11),
body .g-candle .g-fire-box .g-ball:nth-child(11) {
  width: 24px;
  height: 24px;
  left: -21px;
  animation: movetop 1s linear -0.318s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(12),
body .g-candle .g-fire-box .g-ball:nth-child(12) {
  width: 37px;
  height: 37px;
  left: -16px;
  animation: movetop 1s linear -1.607s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(13),
body .g-candle .g-fire-box .g-ball:nth-child(13) {
  width: 18px;
  height: 18px;
  left: -36px;
  animation: movetop 1s linear -2.37s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(14),
body .g-candle .g-fire-box .g-ball:nth-child(14) {
  width: 11px;
  height: 11px;
  left: -24px;
  animation: movetop 1s linear -2.587s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(15),
body .g-candle .g-fire-box .g-ball:nth-child(15) {
  width: 46px;
  height: 46px;
  left: -42px;
  animation: movetop 1s linear -1.393s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(16),
body .g-candle .g-fire-box .g-ball:nth-child(16) {
  width: 41px;
  height: 41px;
  left: 12px;
  animation: movetop 1s linear -0.116s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(17),
body .g-candle .g-fire-box .g-ball:nth-child(17) {
  width: 15px;
  height: 15px;
  left: -43px;
  animation: movetop 1s linear -1.368s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(18),
body .g-candle .g-fire-box .g-ball:nth-child(18) {
  width: 48px;
  height: 48px;
  left: -9px;
  animation: movetop 1s linear -2.754s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(19),
body .g-candle .g-fire-box .g-ball:nth-child(19) {
  width: 3px;
  height: 3px;
  left: 7px;
  animation: movetop 1s linear -1.789s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(20),
body .g-candle .g-fire-box .g-ball:nth-child(20) {
  width: 43px;
  height: 43px;
  left: -24px;
  animation: movetop 1s linear -2.883s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(21),
body .g-candle .g-fire-box .g-ball:nth-child(21) {
  width: 45px;
  height: 45px;
  left: -47px;
  animation: movetop 1s linear -0.512s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(22),
body .g-candle .g-fire-box .g-ball:nth-child(22) {
  width: 45px;
  height: 45px;
  left: -33px;
  animation: movetop 1s linear -2.008s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(23),
body .g-candle .g-fire-box .g-ball:nth-child(23) {
  width: 44px;
  height: 44px;
  left: -21px;
  animation: movetop 1s linear -2.184s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(24),
body .g-candle .g-fire-box .g-ball:nth-child(24) {
  width: 48px;
  height: 48px;
  left: 20px;
  animation: movetop 1s linear -0.583s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(25),
body .g-candle .g-fire-box .g-ball:nth-child(25) {
  width: 14px;
  height: 14px;
  left: -12px;
  animation: movetop 1s linear -0.168s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(26),
body .g-candle .g-fire-box .g-ball:nth-child(26) {
  width: 41px;
  height: 41px;
  left: -40px;
  animation: movetop 1s linear -2.856s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(27),
body .g-candle .g-fire-box .g-ball:nth-child(27) {
  width: 33px;
  height: 33px;
  left: -25px;
  animation: movetop 1s linear -2.903s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(28),
body .g-candle .g-fire-box .g-ball:nth-child(28) {
  width: 40px;
  height: 40px;
  left: -36px;
  animation: movetop 1s linear -2.887s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(29),
body .g-candle .g-fire-box .g-ball:nth-child(29) {
  width: 48px;
  height: 48px;
  left: -50px;
  animation: movetop 1s linear -2.601s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(30),
body .g-candle .g-fire-box .g-ball:nth-child(30) {
  width: 15px;
  height: 15px;
  left: 9px;
  animation: movetop 1s linear -2.303s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(31),
body .g-candle .g-fire-box .g-ball:nth-child(31) {
  width: 28px;
  height: 28px;
  left: -41px;
  animation: movetop 1s linear -1.82s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(32),
body .g-candle .g-fire-box .g-ball:nth-child(32) {
  width: 20px;
  height: 20px;
  left: -4px;
  animation: movetop 1s linear -1.414s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(33),
body .g-candle .g-fire-box .g-ball:nth-child(33) {
  width: 14px;
  height: 14px;
  left: 20px;
  animation: movetop 1s linear -2.516s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(34),
body .g-candle .g-fire-box .g-ball:nth-child(34) {
  width: 20px;
  height: 20px;
  left: -2px;
  animation: movetop 1s linear -0.012s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(35),
body .g-candle .g-fire-box .g-ball:nth-child(35) {
  width: 31px;
  height: 31px;
  left: -49px;
  animation: movetop 1s linear -2.878s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(36),
body .g-candle .g-fire-box .g-ball:nth-child(36) {
  width: 13px;
  height: 13px;
  left: 18px;
  animation: movetop 1s linear -1.218s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(37),
body .g-candle .g-fire-box .g-ball:nth-child(37) {
  width: 19px;
  height: 19px;
  left: -5px;
  animation: movetop 1s linear -1.141s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(38),
body .g-candle .g-fire-box .g-ball:nth-child(38) {
  width: 4px;
  height: 4px;
  left: 4px;
  animation: movetop 1s linear -1.71s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(39),
body .g-candle .g-fire-box .g-ball:nth-child(39) {
  width: 17px;
  height: 17px;
  left: -47px;
  animation: movetop 1s linear -0.097s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(40),
body .g-candle .g-fire-box .g-ball:nth-child(40) {
  width: 10px;
  height: 10px;
  left: -10px;
  animation: movetop 1s linear -1.316s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(41),
body .g-candle .g-fire-box .g-ball:nth-child(41) {
  width: 26px;
  height: 26px;
  left: -31px;
  animation: movetop 1s linear -0.227s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(42),
body .g-candle .g-fire-box .g-ball:nth-child(42) {
  width: 1px;
  height: 1px;
  left: 4px;
  animation: movetop 1s linear -0.306s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(43),
body .g-candle .g-fire-box .g-ball:nth-child(43) {
  width: 16px;
  height: 16px;
  left: -7px;
  animation: movetop 1s linear -1.523s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(44),
body .g-candle .g-fire-box .g-ball:nth-child(44) {
  width: 14px;
  height: 14px;
  left: -23px;
  animation: movetop 1s linear -2.999s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(45),
body .g-candle .g-fire-box .g-ball:nth-child(45) {
  width: 3px;
  height: 3px;
  left: 7px;
  animation: movetop 1s linear -1.799s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(46),
body .g-candle .g-fire-box .g-ball:nth-child(46) {
  width: 42px;
  height: 42px;
  left: -39px;
  animation: movetop 1s linear -1.114s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(47),
body .g-candle .g-fire-box .g-ball:nth-child(47) {
  width: 20px;
  height: 20px;
  left: -5px;
  animation: movetop 1s linear -0.006s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(48),
body .g-candle .g-fire-box .g-ball:nth-child(48) {
  width: 25px;
  height: 25px;
  left: -45px;
  animation: movetop 1s linear -2.608s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(49),
body .g-candle .g-fire-box .g-ball:nth-child(49) {
  width: 33px;
  height: 33px;
  left: -13px;
  animation: movetop 1s linear -1.483s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(50),
body .g-candle .g-fire-box .g-ball:nth-child(50) {
  width: 1px;
  height: 1px;
  left: -17px;
  animation: movetop 1s linear -0.162s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(51),
body .g-candle .g-fire-box .g-ball:nth-child(51) {
  width: 21px;
  height: 21px;
  left: 11px;
  animation: movetop 1s linear -1.236s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(52),
body .g-candle .g-fire-box .g-ball:nth-child(52) {
  width: 6px;
  height: 6px;
  left: -46px;
  animation: movetop 1s linear -1.391s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(53),
body .g-candle .g-fire-box .g-ball:nth-child(53) {
  width: 1px;
  height: 1px;
  left: -5px;
  animation: movetop 1s linear -1.024s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(54),
body .g-candle .g-fire-box .g-ball:nth-child(54) {
  width: 10px;
  height: 10px;
  left: -34px;
  animation: movetop 1s linear -0.297s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(55),
body .g-candle .g-fire-box .g-ball:nth-child(55) {
  width: 2px;
  height: 2px;
  left: -31px;
  animation: movetop 1s linear -0.857s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(56),
body .g-candle .g-fire-box .g-ball:nth-child(56) {
  width: 44px;
  height: 44px;
  left: 0px;
  animation: movetop 1s linear -2.337s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(57),
body .g-candle .g-fire-box .g-ball:nth-child(57) {
  width: 23px;
  height: 23px;
  left: -25px;
  animation: movetop 1s linear -0.498s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(58),
body .g-candle .g-fire-box .g-ball:nth-child(58) {
  width: 35px;
  height: 35px;
  left: -33px;
  animation: movetop 1s linear -2.097s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(59),
body .g-candle .g-fire-box .g-ball:nth-child(59) {
  width: 39px;
  height: 39px;
  left: -3px;
  animation: movetop 1s linear -0.89s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(60),
body .g-candle .g-fire-box .g-ball:nth-child(60) {
  width: 33px;
  height: 33px;
  left: -12px;
  animation: movetop 1s linear -2.805s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(61),
body .g-candle .g-fire-box .g-ball:nth-child(61) {
  width: 36px;
  height: 36px;
  left: -20px;
  animation: movetop 1s linear -0.556s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(62),
body .g-candle .g-fire-box .g-ball:nth-child(62) {
  width: 34px;
  height: 34px;
  left: 1px;
  animation: movetop 1s linear -2.867s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(63),
body .g-candle .g-fire-box .g-ball:nth-child(63) {
  width: 17px;
  height: 17px;
  left: -20px;
  animation: movetop 1s linear -0.368s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(64),
body .g-candle .g-fire-box .g-ball:nth-child(64) {
  width: 10px;
  height: 10px;
  left: -15px;
  animation: movetop 1s linear -0.675s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(65),
body .g-candle .g-fire-box .g-ball:nth-child(65) {
  width: 31px;
  height: 31px;
  left: -34px;
  animation: movetop 1s linear -2.799s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(66),
body .g-candle .g-fire-box .g-ball:nth-child(66) {
  width: 28px;
  height: 28px;
  left: -4px;
  animation: movetop 1s linear -2.224s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(67),
body .g-candle .g-fire-box .g-ball:nth-child(67) {
  width: 3px;
  height: 3px;
  left: -33px;
  animation: movetop 1s linear -2.375s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(68),
body .g-candle .g-fire-box .g-ball:nth-child(68) {
  width: 47px;
  height: 47px;
  left: -22px;
  animation: movetop 1s linear -1.648s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(69),
body .g-candle .g-fire-box .g-ball:nth-child(69) {
  width: 10px;
  height: 10px;
  left: -39px;
  animation: movetop 1s linear -0.09s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(70),
body .g-candle .g-fire-box .g-ball:nth-child(70) {
  width: 36px;
  height: 36px;
  left: -35px;
  animation: movetop 1s linear -2.842s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(71),
body .g-candle .g-fire-box .g-ball:nth-child(71) {
  width: 26px;
  height: 26px;
  left: -32px;
  animation: movetop 1s linear -2.558s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(72),
body .g-candle .g-fire-box .g-ball:nth-child(72) {
  width: 31px;
  height: 31px;
  left: 10px;
  animation: movetop 1s linear -1.118s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(73),
body .g-candle .g-fire-box .g-ball:nth-child(73) {
  width: 44px;
  height: 44px;
  left: -8px;
  animation: movetop 1s linear -1.742s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(74),
body .g-candle .g-fire-box .g-ball:nth-child(74) {
  width: 48px;
  height: 48px;
  left: -2px;
  animation: movetop 1s linear -0.164s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(75),
body .g-candle .g-fire-box .g-ball:nth-child(75) {
  width: 13px;
  height: 13px;
  left: -11px;
  animation: movetop 1s linear -1.31s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(76),
body .g-candle .g-fire-box .g-ball:nth-child(76) {
  width: 17px;
  height: 17px;
  left: 19px;
  animation: movetop 1s linear -2.148s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(77),
body .g-candle .g-fire-box .g-ball:nth-child(77) {
  width: 14px;
  height: 14px;
  left: -49px;
  animation: movetop 1s linear -0.952s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(78),
body .g-candle .g-fire-box .g-ball:nth-child(78) {
  width: 39px;
  height: 39px;
  left: -37px;
  animation: movetop 1s linear -0.092s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(79),
body .g-candle .g-fire-box .g-ball:nth-child(79) {
  width: 18px;
  height: 18px;
  left: 2px;
  animation: movetop 1s linear -2.337s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(80),
body .g-candle .g-fire-box .g-ball:nth-child(80) {
  width: 30px;
  height: 30px;
  left: -34px;
  animation: movetop 1s linear -0.915s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(81),
body .g-candle .g-fire-box .g-ball:nth-child(81) {
  width: 13px;
  height: 13px;
  left: 19px;
  animation: movetop 1s linear -1.538s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(82),
body .g-candle .g-fire-box .g-ball:nth-child(82) {
  width: 1px;
  height: 1px;
  left: -1px;
  animation: movetop 1s linear -0.3s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(83),
body .g-candle .g-fire-box .g-ball:nth-child(83) {
  width: 23px;
  height: 23px;
  left: -8px;
  animation: movetop 1s linear -2.261s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(84),
body .g-candle .g-fire-box .g-ball:nth-child(84) {
  width: 37px;
  height: 37px;
  left: -40px;
  animation: movetop 1s linear -0.565s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(85),
body .g-candle .g-fire-box .g-ball:nth-child(85) {
  width: 24px;
  height: 24px;
  left: -23px;
  animation: movetop 1s linear -2.895s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(86),
body .g-candle .g-fire-box .g-ball:nth-child(86) {
  width: 37px;
  height: 37px;
  left: 14px;
  animation: movetop 1s linear -0.205s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(87),
body .g-candle .g-fire-box .g-ball:nth-child(87) {
  width: 0px;
  height: 0px;
  left: -16px;
  animation: movetop 1s linear -2.733s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(88),
body .g-candle .g-fire-box .g-ball:nth-child(88) {
  width: 45px;
  height: 45px;
  left: -31px;
  animation: movetop 1s linear -1.681s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(89),
body .g-candle .g-fire-box .g-ball:nth-child(89) {
  width: 15px;
  height: 15px;
  left: -33px;
  animation: movetop 1s linear -1.825s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(90),
body .g-candle .g-fire-box .g-ball:nth-child(90) {
  width: 6px;
  height: 6px;
  left: -14px;
  animation: movetop 1s linear -2.365s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(91),
body .g-candle .g-fire-box .g-ball:nth-child(91) {
  width: 41px;
  height: 41px;
  left: -40px;
  animation: movetop 1s linear -1.934s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(92),
body .g-candle .g-fire-box .g-ball:nth-child(92) {
  width: 44px;
  height: 44px;
  left: 9px;
  animation: movetop 1s linear -2.1s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(93),
body .g-candle .g-fire-box .g-ball:nth-child(93) {
  width: 42px;
  height: 42px;
  left: 8px;
  animation: movetop 1s linear -2.585s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(94),
body .g-candle .g-fire-box .g-ball:nth-child(94) {
  width: 37px;
  height: 37px;
  left: -12px;
  animation: movetop 1s linear -1.329s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(95),
body .g-candle .g-fire-box .g-ball:nth-child(95) {
  width: 38px;
  height: 38px;
  left: -48px;
  animation: movetop 1s linear -0.427s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(96),
body .g-candle .g-fire-box .g-ball:nth-child(96) {
  width: 3px;
  height: 3px;
  left: 14px;
  animation: movetop 1s linear -2.304s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(97),
body .g-candle .g-fire-box .g-ball:nth-child(97) {
  width: 22px;
  height: 22px;
  left: -6px;
  animation: movetop 1s linear -1.876s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(98),
body .g-candle .g-fire-box .g-ball:nth-child(98) {
  width: 10px;
  height: 10px;
  left: -12px;
  animation: movetop 1s linear -1.013s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(99),
body .g-candle .g-fire-box .g-ball:nth-child(99) {
  width: 5px;
  height: 5px;
  left: 5px;
  animation: movetop 1s linear -0.489s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(100),
body .g-candle .g-fire-box .g-ball:nth-child(100) {
  width: 42px;
  height: 42px;
  left: -4px;
  animation: movetop 1s linear -2.83s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(101),
body .g-candle .g-fire-box .g-ball:nth-child(101) {
  width: 11px;
  height: 11px;
  left: -48px;
  animation: movetop 1s linear -0.456s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(102),
body .g-candle .g-fire-box .g-ball:nth-child(102) {
  width: 33px;
  height: 33px;
  left: 1px;
  animation: movetop 1s linear -2.459s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(103),
body .g-candle .g-fire-box .g-ball:nth-child(103) {
  width: 37px;
  height: 37px;
  left: -35px;
  animation: movetop 1s linear -0.53s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(104),
body .g-candle .g-fire-box .g-ball:nth-child(104) {
  width: 0px;
  height: 0px;
  left: -17px;
  animation: movetop 1s linear -1.693s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(105),
body .g-candle .g-fire-box .g-ball:nth-child(105) {
  width: 44px;
  height: 44px;
  left: -42px;
  animation: movetop 1s linear -2.796s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(106),
body .g-candle .g-fire-box .g-ball:nth-child(106) {
  width: 32px;
  height: 32px;
  left: 1px;
  animation: movetop 1s linear -0.995s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(107),
body .g-candle .g-fire-box .g-ball:nth-child(107) {
  width: 48px;
  height: 48px;
  left: 15px;
  animation: movetop 1s linear -0.846s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(108),
body .g-candle .g-fire-box .g-ball:nth-child(108) {
  width: 49px;
  height: 49px;
  left: -16px;
  animation: movetop 1s linear -1.501s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(109),
body .g-candle .g-fire-box .g-ball:nth-child(109) {
  width: 43px;
  height: 43px;
  left: -7px;
  animation: movetop 1s linear -0.666s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(110),
body .g-candle .g-fire-box .g-ball:nth-child(110) {
  width: 45px;
  height: 45px;
  left: -25px;
  animation: movetop 1s linear -2.365s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(111),
body .g-candle .g-fire-box .g-ball:nth-child(111) {
  width: 28px;
  height: 28px;
  left: 9px;
  animation: movetop 1s linear -1.858s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(112),
body .g-candle .g-fire-box .g-ball:nth-child(112) {
  width: 36px;
  height: 36px;
  left: 8px;
  animation: movetop 1s linear -2.911s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(113),
body .g-candle .g-fire-box .g-ball:nth-child(113) {
  width: 1px;
  height: 1px;
  left: -6px;
  animation: movetop 1s linear -0.035s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(114),
body .g-candle .g-fire-box .g-ball:nth-child(114) {
  width: 37px;
  height: 37px;
  left: -41px;
  animation: movetop 1s linear -2.895s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(115),
body .g-candle .g-fire-box .g-ball:nth-child(115) {
  width: 3px;
  height: 3px;
  left: -31px;
  animation: movetop 1s linear -0.004s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(116),
body .g-candle .g-fire-box .g-ball:nth-child(116) {
  width: 46px;
  height: 46px;
  left: -22px;
  animation: movetop 1s linear -2.488s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(117),
body .g-candle .g-fire-box .g-ball:nth-child(117) {
  width: 44px;
  height: 44px;
  left: -46px;
  animation: movetop 1s linear -1.532s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(118),
body .g-candle .g-fire-box .g-ball:nth-child(118) {
  width: 14px;
  height: 14px;
  left: 11px;
  animation: movetop 1s linear -1.28s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(119),
body .g-candle .g-fire-box .g-ball:nth-child(119) {
  width: 36px;
  height: 36px;
  left: -37px;
  animation: movetop 1s linear -2.606s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(120),
body .g-candle .g-fire-box .g-ball:nth-child(120) {
  width: 3px;
  height: 3px;
  left: -4px;
  animation: movetop 1s linear -0.264s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(121),
body .g-candle .g-fire-box .g-ball:nth-child(121) {
  width: 27px;
  height: 27px;
  left: -19px;
  animation: movetop 1s linear -1.385s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(122),
body .g-candle .g-fire-box .g-ball:nth-child(122) {
  width: 31px;
  height: 31px;
  left: -29px;
  animation: movetop 1s linear -1.999s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(123),
body .g-candle .g-fire-box .g-ball:nth-child(123) {
  width: 17px;
  height: 17px;
  left: -29px;
  animation: movetop 1s linear -2.577s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(124),
body .g-candle .g-fire-box .g-ball:nth-child(124) {
  width: 22px;
  height: 22px;
  left: -46px;
  animation: movetop 1s linear -2.306s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(125),
body .g-candle .g-fire-box .g-ball:nth-child(125) {
  width: 34px;
  height: 34px;
  left: -9px;
  animation: movetop 1s linear -1.173s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(126),
body .g-candle .g-fire-box .g-ball:nth-child(126) {
  width: 34px;
  height: 34px;
  left: -39px;
  animation: movetop 1s linear -1.879s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(127),
body .g-candle .g-fire-box .g-ball:nth-child(127) {
  width: 42px;
  height: 42px;
  left: -45px;
  animation: movetop 1s linear -0.435s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(128),
body .g-candle .g-fire-box .g-ball:nth-child(128) {
  width: 38px;
  height: 38px;
  left: -23px;
  animation: movetop 1s linear -0.802s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(129),
body .g-candle .g-fire-box .g-ball:nth-child(129) {
  width: 49px;
  height: 49px;
  left: -44px;
  animation: movetop 1s linear -2.477s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(130),
body .g-candle .g-fire-box .g-ball:nth-child(130) {
  width: 19px;
  height: 19px;
  left: -5px;
  animation: movetop 1s linear -1.551s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(131),
body .g-candle .g-fire-box .g-ball:nth-child(131) {
  width: 13px;
  height: 13px;
  left: 4px;
  animation: movetop 1s linear -0.589s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(132),
body .g-candle .g-fire-box .g-ball:nth-child(132) {
  width: 15px;
  height: 15px;
  left: -39px;
  animation: movetop 1s linear -0.17s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(133),
body .g-candle .g-fire-box .g-ball:nth-child(133) {
  width: 43px;
  height: 43px;
  left: 5px;
  animation: movetop 1s linear -2.061s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(134),
body .g-candle .g-fire-box .g-ball:nth-child(134) {
  width: 3px;
  height: 3px;
  left: -9px;
  animation: movetop 1s linear -2.147s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(135),
body .g-candle .g-fire-box .g-ball:nth-child(135) {
  width: 41px;
  height: 41px;
  left: 11px;
  animation: movetop 1s linear -0.5s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(136),
body .g-candle .g-fire-box .g-ball:nth-child(136) {
  width: 27px;
  height: 27px;
  left: 15px;
  animation: movetop 1s linear -1.415s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(137),
body .g-candle .g-fire-box .g-ball:nth-child(137) {
  width: 50px;
  height: 50px;
  left: 8px;
  animation: movetop 1s linear -1.026s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(138),
body .g-candle .g-fire-box .g-ball:nth-child(138) {
  width: 16px;
  height: 16px;
  left: -46px;
  animation: movetop 1s linear -1.794s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(139),
body .g-candle .g-fire-box .g-ball:nth-child(139) {
  width: 27px;
  height: 27px;
  left: -2px;
  animation: movetop 1s linear -0.725s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(140),
body .g-candle .g-fire-box .g-ball:nth-child(140) {
  width: 45px;
  height: 45px;
  left: -15px;
  animation: movetop 1s linear -1.641s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(141),
body .g-candle .g-fire-box .g-ball:nth-child(141) {
  width: 5px;
  height: 5px;
  left: -4px;
  animation: movetop 1s linear -2.084s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(142),
body .g-candle .g-fire-box .g-ball:nth-child(142) {
  width: 24px;
  height: 24px;
  left: -30px;
  animation: movetop 1s linear -1.545s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(143),
body .g-candle .g-fire-box .g-ball:nth-child(143) {
  width: 28px;
  height: 28px;
  left: -13px;
  animation: movetop 1s linear -1.212s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(144),
body .g-candle .g-fire-box .g-ball:nth-child(144) {
  width: 36px;
  height: 36px;
  left: -2px;
  animation: movetop 1s linear -0.964s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(145),
body .g-candle .g-fire-box .g-ball:nth-child(145) {
  width: 43px;
  height: 43px;
  left: -18px;
  animation: movetop 1s linear -2.869s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(146),
body .g-candle .g-fire-box .g-ball:nth-child(146) {
  width: 48px;
  height: 48px;
  left: 19px;
  animation: movetop 1s linear -0.295s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(147),
body .g-candle .g-fire-box .g-ball:nth-child(147) {
  width: 48px;
  height: 48px;
  left: -29px;
  animation: movetop 1s linear -2.574s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(148),
body .g-candle .g-fire-box .g-ball:nth-child(148) {
  width: 47px;
  height: 47px;
  left: -25px;
  animation: movetop 1s linear -1.017s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(149),
body .g-candle .g-fire-box .g-ball:nth-child(149) {
  width: 17px;
  height: 17px;
  left: 13px;
  animation: movetop 1s linear -2.323s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(150),
body .g-candle .g-fire-box .g-ball:nth-child(150) {
  width: 7px;
  height: 7px;
  left: 20px;
  animation: movetop 1s linear -2.882s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(151),
body .g-candle .g-fire-box .g-ball:nth-child(151) {
  width: 13px;
  height: 13px;
  left: -11px;
  animation: movetop 1s linear -2.909s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(152),
body .g-candle .g-fire-box .g-ball:nth-child(152) {
  width: 13px;
  height: 13px;
  left: -30px;
  animation: movetop 1s linear -1.058s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(153),
body .g-candle .g-fire-box .g-ball:nth-child(153) {
  width: 26px;
  height: 26px;
  left: -17px;
  animation: movetop 1s linear -2.225s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(154),
body .g-candle .g-fire-box .g-ball:nth-child(154) {
  width: 8px;
  height: 8px;
  left: -48px;
  animation: movetop 1s linear -1.142s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(155),
body .g-candle .g-fire-box .g-ball:nth-child(155) {
  width: 18px;
  height: 18px;
  left: 17px;
  animation: movetop 1s linear -2.929s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(156),
body .g-candle .g-fire-box .g-ball:nth-child(156) {
  width: 47px;
  height: 47px;
  left: -23px;
  animation: movetop 1s linear -2.472s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(157),
body .g-candle .g-fire-box .g-ball:nth-child(157) {
  width: 35px;
  height: 35px;
  left: -16px;
  animation: movetop 1s linear -0.112s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(158),
body .g-candle .g-fire-box .g-ball:nth-child(158) {
  width: 14px;
  height: 14px;
  left: -40px;
  animation: movetop 1s linear -2.58s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(159),
body .g-candle .g-fire-box .g-ball:nth-child(159) {
  width: 8px;
  height: 8px;
  left: 14px;
  animation: movetop 1s linear -0.519s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(160),
body .g-candle .g-fire-box .g-ball:nth-child(160) {
  width: 14px;
  height: 14px;
  left: -8px;
  animation: movetop 1s linear -2.558s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(161),
body .g-candle .g-fire-box .g-ball:nth-child(161) {
  width: 26px;
  height: 26px;
  left: -7px;
  animation: movetop 1s linear -2.723s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(162),
body .g-candle .g-fire-box .g-ball:nth-child(162) {
  width: 15px;
  height: 15px;
  left: -40px;
  animation: movetop 1s linear -1.5s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(163),
body .g-candle .g-fire-box .g-ball:nth-child(163) {
  width: 28px;
  height: 28px;
  left: -17px;
  animation: movetop 1s linear -2.53s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(164),
body .g-candle .g-fire-box .g-ball:nth-child(164) {
  width: 33px;
  height: 33px;
  left: -40px;
  animation: movetop 1s linear -0.237s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(165),
body .g-candle .g-fire-box .g-ball:nth-child(165) {
  width: 0px;
  height: 0px;
  left: -48px;
  animation: movetop 1s linear -1.725s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(166),
body .g-candle .g-fire-box .g-ball:nth-child(166) {
  width: 13px;
  height: 13px;
  left: -17px;
  animation: movetop 1s linear -2.489s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(167),
body .g-candle .g-fire-box .g-ball:nth-child(167) {
  width: 15px;
  height: 15px;
  left: 16px;
  animation: movetop 1s linear -1.881s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(168),
body .g-candle .g-fire-box .g-ball:nth-child(168) {
  width: 38px;
  height: 38px;
  left: -20px;
  animation: movetop 1s linear -2.168s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(169),
body .g-candle .g-fire-box .g-ball:nth-child(169) {
  width: 31px;
  height: 31px;
  left: -16px;
  animation: movetop 1s linear -1.88s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(170),
body .g-candle .g-fire-box .g-ball:nth-child(170) {
  width: 46px;
  height: 46px;
  left: -12px;
  animation: movetop 1s linear 0s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(171),
body .g-candle .g-fire-box .g-ball:nth-child(171) {
  width: 0px;
  height: 0px;
  left: 18px;
  animation: movetop 1s linear -1.971s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(172),
body .g-candle .g-fire-box .g-ball:nth-child(172) {
  width: 2px;
  height: 2px;
  left: -49px;
  animation: movetop 1s linear -1.987s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(173),
body .g-candle .g-fire-box .g-ball:nth-child(173) {
  width: 11px;
  height: 11px;
  left: 4px;
  animation: movetop 1s linear -2.012s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(174),
body .g-candle .g-fire-box .g-ball:nth-child(174) {
  width: 26px;
  height: 26px;
  left: 18px;
  animation: movetop 1s linear -0.578s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(175),
body .g-candle .g-fire-box .g-ball:nth-child(175) {
  width: 50px;
  height: 50px;
  left: -17px;
  animation: movetop 1s linear -2.072s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(176),
body .g-candle .g-fire-box .g-ball:nth-child(176) {
  width: 13px;
  height: 13px;
  left: -16px;
  animation: movetop 1s linear -0.015s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(177),
body .g-candle .g-fire-box .g-ball:nth-child(177) {
  width: 43px;
  height: 43px;
  left: -12px;
  animation: movetop 1s linear -1.934s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(178),
body .g-candle .g-fire-box .g-ball:nth-child(178) {
  width: 18px;
  height: 18px;
  left: -11px;
  animation: movetop 1s linear -1.948s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(179),
body .g-candle .g-fire-box .g-ball:nth-child(179) {
  width: 1px;
  height: 1px;
  left: -6px;
  animation: movetop 1s linear -0.276s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(180),
body .g-candle .g-fire-box .g-ball:nth-child(180) {
  width: 37px;
  height: 37px;
  left: 9px;
  animation: movetop 1s linear -2.278s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(181),
body .g-candle .g-fire-box .g-ball:nth-child(181) {
  width: 38px;
  height: 38px;
  left: 10px;
  animation: movetop 1s linear -2.747s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(182),
body .g-candle .g-fire-box .g-ball:nth-child(182) {
  width: 35px;
  height: 35px;
  left: 9px;
  animation: movetop 1s linear -1.049s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(183),
body .g-candle .g-fire-box .g-ball:nth-child(183) {
  width: 49px;
  height: 49px;
  left: -36px;
  animation: movetop 1s linear -1.123s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(184),
body .g-candle .g-fire-box .g-ball:nth-child(184) {
  width: 34px;
  height: 34px;
  left: -21px;
  animation: movetop 1s linear -0.198s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(185),
body .g-candle .g-fire-box .g-ball:nth-child(185) {
  width: 27px;
  height: 27px;
  left: -5px;
  animation: movetop 1s linear -0.359s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(186),
body .g-candle .g-fire-box .g-ball:nth-child(186) {
  width: 5px;
  height: 5px;
  left: -49px;
  animation: movetop 1s linear -1.383s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(187),
body .g-candle .g-fire-box .g-ball:nth-child(187) {
  width: 48px;
  height: 48px;
  left: -43px;
  animation: movetop 1s linear -0.001s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(188),
body .g-candle .g-fire-box .g-ball:nth-child(188) {
  width: 19px;
  height: 19px;
  left: -41px;
  animation: movetop 1s linear -0.467s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(189),
body .g-candle .g-fire-box .g-ball:nth-child(189) {
  width: 4px;
  height: 4px;
  left: -44px;
  animation: movetop 1s linear -0.418s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(190),
body .g-candle .g-fire-box .g-ball:nth-child(190) {
  width: 48px;
  height: 48px;
  left: -4px;
  animation: movetop 1s linear -0.964s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(191),
body .g-candle .g-fire-box .g-ball:nth-child(191) {
  width: 31px;
  height: 31px;
  left: -16px;
  animation: movetop 1s linear -2.139s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(192),
body .g-candle .g-fire-box .g-ball:nth-child(192) {
  width: 2px;
  height: 2px;
  left: 9px;
  animation: movetop 1s linear -2.29s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(193),
body .g-candle .g-fire-box .g-ball:nth-child(193) {
  width: 46px;
  height: 46px;
  left: 9px;
  animation: movetop 1s linear -0.184s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(194),
body .g-candle .g-fire-box .g-ball:nth-child(194) {
  width: 29px;
  height: 29px;
  left: -44px;
  animation: movetop 1s linear -1.213s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(195),
body .g-candle .g-fire-box .g-ball:nth-child(195) {
  width: 7px;
  height: 7px;
  left: -40px;
  animation: movetop 1s linear -0.697s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(196),
body .g-candle .g-fire-box .g-ball:nth-child(196) {
  width: 50px;
  height: 50px;
  left: -46px;
  animation: movetop 1s linear -1.768s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(197),
body .g-candle .g-fire-box .g-ball:nth-child(197) {
  width: 11px;
  height: 11px;
  left: -4px;
  animation: movetop 1s linear -2.78s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(198),
body .g-candle .g-fire-box .g-ball:nth-child(198) {
  width: 32px;
  height: 32px;
  left: 4px;
  animation: movetop 1s linear -1.528s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(199),
body .g-candle .g-fire-box .g-ball:nth-child(199) {
  width: 39px;
  height: 39px;
  left: -37px;
  animation: movetop 1s linear -1.885s infinite;
}
html .g-candle .g-fire-box .g-ball:nth-child(200),
body .g-candle .g-fire-box .g-ball:nth-child(200) {
  width: 17px;
  height: 17px;
  left: -30px;
  animation: movetop 1s linear -1.741s infinite;
}
@-moz-keyframes movetop {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 0);
  }
  87.7% {
    transform: translate(0, -170px);
    opacity: 0;
  }
  100% {
    transform: translate(0, -170);
    opacity: 0;
  }
}
@-webkit-keyframes movetop {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 0);
  }
  87.7% {
    transform: translate(0, -170px);
    opacity: 0;
  }
  100% {
    transform: translate(0, -170);
    opacity: 0;
  }
}
@-o-keyframes movetop {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 0);
  }
  87.7% {
    transform: translate(0, -170px);
    opacity: 0;
  }
  100% {
    transform: translate(0, -170);
    opacity: 0;
  }
}
@keyframes movetop {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 0);
  }
  87.7% {
    transform: translate(0, -170px);
    opacity: 0;
  }
  100% {
    transform: translate(0, -170);
    opacity: 0;
  }
}
